[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = ">=4.1"
djangocms-admin-style = "*"
django-ckeditor = "*"
django-allauth = "*"
gunicorn = "*"
django-ckeditor-5 = "*"
waitress = "*"
psycopg2-binary = "*"
django-environ = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
